html, body{
  /* height: 100vh; */
  /* height: 100%; */
}
main{
  height: 100%;
}
.pricelist .container h2{
  text-align: center;
}

table tr:nth-child(even){
  background-color: rgba(162, 162, 162, 0.086);
}
